<template>
    <div class="row">
        <div class="post-navbar">
            <h2>Postlar</h2>
            <div class="add">
                Qoshish
            </div>
        </div>
        
    </div>
</template>
<script>
export default{
    name: 'PostAdd'
}
</script>
<style>
.post-navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.post-navbar h2{
    color: var(--color-tem);
}
.post-navbar .add{
    width: 10rem;
    text-align: center;
    border: 1px solid var(--bg-color);
    padding: .5rem;
    font-size: 15px;
    color: #fff;
    background: var(--bg-color);
    border-radius: 10px;
}
</style>