<template>
    <div class="row mt-3">
        <div class="col-6 col-sm-3 col-md-3 col-lg-2 mb-3">
            <div class="courses">
                <div class="text">
                    Tarix
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-2 mb-3">
            <div class="courses">
                <div class="text">
                    Tarix
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-2 mb-3">
            <div class="courses">
                <div class="text">
                    Tarix
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-2 mb-3">
            <div class="courses">
                <div class="text">
                    Tarix
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-2 mb-3">
            <div class="courses">
                <div class="text">
                    Tarix
                </div>
            </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-2 mb-3">
            <div class="courses">
                <div class="text">
                    Tarix
                </div>
            </div>
        </div>
    </div>
</template>
<script>

export default{
    name: 'Courses'
}
</script>
<style>
.courses{
    border: 1px solid #fff;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: #fff;
    text-align: center; 
    color: var(--color);
    cursor: pointer;
}
.courses:hover{
    background: var(--bg-color);
    color: #fff;
}
.courses .text{
    margin-top: .8rem;
}
</style>