<template>
    <div class="row mt-3">
        <div class="col">
            <div class="content">
                <div class="name">
                    Tarix
                </div>
                <div class="table_responsive">
                   <table>
                    <tbody>
                        <tr @click="courseGo">
                            <td >Asliddin</td>
                            <td>Tarix 8:00</td>
                            <td>Toq</td>
                            <td>
                                <span class="action-btn">
                                    <span class="edit">
                                        edit
                                    </span>
                                    <span class="delete">delete</span>
                                </span>
                            </td>
                            
                        </tr>
                        <tr>
                            <td>Asliddinfuuyv</td>
                            <td>Tarix 8:00</td>
                            <td>Juft</td>
                            <td>
                                <span class="action-btn">
                                    <span class="edit">
                                        edit
                                    </span>
                                    <span class="delete">delete</span>
                                </span>
                            </td>
                            
                        </tr>
                    
                    </tbody>
                   </table>
                </div>
            </div>    
        </div>
    </div>
</template>
<script>
export default{
    name: 'CoursesList',
    methods: {
        courseGo(){
            this.$router.push('/course/id')
        }
    },
}
</script>
<style scoped>


.content{
    border: 1px solid #fff;
    border-radius: 10px;
    width: calc(100% - 20px);
    height: auto;
    background: #fff;
    margin: 10px;
}
.content .name{
    font-size: 20px;
    margin: 1rem;
    color: var(--color-tem);
}
.table_responsive{
    max-width: 900vh;
    padding: 15px;
    overflow: auto;
    margin: auto;

}
table{
    width: 100%;
    font-size: 13px;
    color: var(--color);
    white-space: nowrap;
    border-collapse: collapse;

}
table td{
    padding: 1rem;
    font-size: 15px;
    color: var(--color);
}
.action-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.action-btn .edit{
    border: 1px solid var(--bg-color);
    padding:  .7rem ;
    background: var(--bg-color);
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
}
.action-btn .delete{
    border: 1px solid #FA0E0E;
    padding: .7rem;
    background: #FA0E0E;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
}

</style>