<template>
    <div>
        <div class="row mt-1">
            <div class="navbar">
                Navbar
            </div>
        </div>
       <div class="row">
        <div class="content">
            <div class="data-pupil">
                <ul>
                    <li>Asliddin Sharipov</li>
                    <li>Asliddin Sharipov</li>
                    <li>Asliddin Sharipov</li>
                    <li>Asliddin Sharipov</li>
                </ul>
            </div>
            data
        </div>
       </div>
    </div>
</template>
<script>
export default{
    name: 'CourseDataPupil'
}
</script>
<style scoped>
.navbar{
    width: 100%;
    background: #fff;
}
.content{

}
</style>