<template>
    <div class="row mt-3">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card">
                <span>930</span>
                <p>O'quvchilar</p>
                <i class="fa-solid fa-users"></i>     
            </div>      
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card teacher">
                <i class="fa-solid fa-user-graduate"></i>
                
                    <span>930</span>
                    <p>Ustozlar</p>
                
                
            </div>      
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
            <div class="card course">
                <i class="fa-solid fa-book"></i>
                <span>930</span>
                <p>Kurslar</p>
            </div>      
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3  mb-3">
            <div class="card barthday">
                <i class="fa-solid fa-calendar-check"></i>
                <span>930</span>
                <p>Tug'ulgan kunlar</p>
            </div>      
        </div>
    </div>
</template>
<script>
export default{
    name: "Datas"
}

</script>
<style scoped>
.card{
    width: auto;
    height: 80px;
    position: relative;
    display: flex;
    cursor: pointer;
    
    
}
.card p{
    position: absolute;
    left: 2rem;
    margin-top: 40px;
    font-size: 15px;
    text-align: center;

}
.card span{
    position: absolute;
    left: 2rem;
    margin-top: 10px;
    margin-right: 40px;
    font-size: 25px;
    text-align: center;
}
.card i{
    position: absolute;
    right: 1rem;
    margin: 1.5rem 1rem;
    font-size: 40px;
    color: #38DEF7;
}
.course i{
    color: #FCFF81;
}
.teacher i{
    color:#FF6267;
}
</style>