<template>
        <div class="table_responsive">
            
            <table>
             <tbody >
                 <tr @click.privent="pupils()">
                     <td>
                        <img src="img/user.jpg" alt="pupil" width="40px" height="40px">
                     </td>
                     <td>Asliddin</td>
                     <td>Sharipov</td>
                     <td>+998888040223</td> 
                 </tr>
                 <tr>
                     <td>
                        <img src="img/user.jpg" alt="pupil" width="40px" height="40px">
                     </td>
                     <td>G'aybullo</td>
                     <td>Fayzullayev</td>
                     <td>+998888040223</td>     
                 </tr>
             
             </tbody>
            </table>
         </div>
</template>
<script>
export default{
    name: 'UserList',
    methods: {
        pupils(){
            this.$router.push('/pupils')
        }
    },
}
</script>
<style>

table{
    width: 100%;
    font-size: 13px;
    color: var(--color);
    white-space: nowrap;
    border-collapse: collapse;

}
table td{
    padding: .5rem;
    font-size: 15px;
    color: var(--color);
}
table td img{
    border-radius: 50%;
}
tr{
    cursor: pointer;
}
</style>