<template>
    <div class="row mt-3 ">
        <div class="col-6 col-sm-3 col-md-3 col-lg-2 mb-3">
            <div class="category">
                <select name="" id="">
                    <option value="1">O'quvchi</option>
                    <option value="2">Ustozlar</option>
                </select>

            </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-2 mb-3">
            <div class="search-wrapper">
                <i class="fa-solid fa-magnifying-glass"></i>
               <input type="search" name="" placeholder="Ism yoki Familya">
            </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-2 mb-3">
            <div class="search-wrapper">
                <i class="fa-solid fa-magnifying-glass"></i>
               <input type="search" name="" placeholder="Tel nomer">
            </div>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-2 mb-3">
            <div class="add">
                <div class="text">
                    Qo'shish
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    name: 'UserFilter'
}
</script>
<style scoped>
.category select{
    border: 1px solid #fff;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: #fff;
    text-align: center;   
}
.search-wrapper{
    border: 1px solid #fff;
    border-radius: 10px;
    height: 40px;
    display: flex;
    text-align: center;
    width: 100%;
    background: #fff;

}
.search-wrapper i{
    display: inline-block;
    padding: 1rem;
    font-size: 1.5rem;
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    font-size:small;
    width: 100%;
    border-radius: 10px;
}
.add{
    border: 1px solid var(--bg-color);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: var(--bg-color);
    text-align: center; 
    color: #fff;
}
.add .text{
    margin-top: .8rem;
}
</style>