<template>
        
    <div class="row mt-3">
        <div class="col-12 col-md-8 col-lg-8">
            <div class="pupils">
                <div class="row">
                    <div class="pupil-title">
                        <h2>O'quvchilar</h2>
                       <!-- <div class="pupil-add" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop" aria-controls="offcanvasWithBackdrop">
                            <div>O'quvchi qo'shish</div>
                        </div>
                        <div class="convas-body">
                            <div class="offcanvas offcanvas-start canvas-navbar" tabindex="-1" id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
                                <div class="offcanvas-header">
                                  <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Offcanvas with backdrop</h5>
                                  <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                  <p>.....</p>
                                </div>
                              </div>
                        </div>-->
                    </div>
                    <div class="pupil-content">
                        <Pupil-list/>
                            <div class="page">
                                <Pagination/>
                            </div>                        
                    </div>
                </div> 
            </div>  
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <div class="teacher">
                <div class="teacher-title">
                    <h2>Ustozlar</h2>
                </div>
                
                <div class="teacher-content">
                   <ul>
                        <a href="/teacher">
                            <li>
                                <img src="img/user.jpg" alt="pupil photos" width="40px" height="40px">
                                <div class="teacher-data">
                                    <h4>Asliddin Sharipov</h4>
                                    <p>Backend</p>
                                </div>
                            </li>
                        </a>
                        <a href="/teacher">
                            <li>
                                <img src="img/user.jpg" alt="pupil photos" width="40px" height="40px">
                                <div class="teacher-data">
                                    <h4>Asliddin Sharipov</h4>
                                    <p>Backend</p>
                                </div>
                            </li>
                        </a>
                                       
                   </ul>
                </div>
              
            </div>
        </div>
    </div>
</template>
<script>
import Pagination from '@/components/Pagination'
import PupilList from '@/components/user/PupilList'
export default{
    name: 'User',
    components:{
        Pagination,
        PupilList
    }
}

</script>
<style scoped>

.pupils,
.teacher{
    display: flex;
    border: 1px solid var(--white);
    width: 100%;
    margin: 0;
    height: auto;
    background: var(--white);
    border-radius: 10px;
    margin-bottom: 1rem;
}
.pupil-title
{
    margin-left: 1rem;
    justify-content: space-between;
    align-items: center;
    display: flex;

}
.pupil-title h2,
.teacher-title h2
{
    color: var(--color-tem);
    margin-left: 1.5rem;
    font-size: 25px;
}
.pupil-add{
    position: absolute;
    right: 2rem;
    border: 1px solid var(--color-tem);
    background: var(--color-tem);
    border-radius: 10px;
    padding: 1rem;
    color: #fff;
}
.pupil-content{
    width: calc(100% - 30px);
    border-radius: 10px;
    height: auto;
    background: #fff;
    margin: 10px;  
  
    
}
.teacher-content{
    margin-top: 7rem;
}
.teacher-content ul{
    list-style: none;
    margin-left: -12.5rem;
}
.teacher-content ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.teacher-content img{
    border-radius: 50%;
}
.teacher-content p{
    margin: 0;
    font-size: 12px;
    
}
.teacher-content h4{
    font-size: 15px;
    margin: 0;
}
.teacher-data{
    margin: 1rem;
}
.teacher-content a{
    text-decoration: none;
    color: var(--color);
}
.page{
    display: flex;
    justify-content: end;
    
}
@media (max-width:425px) {
    .pupil-content{
        max-width: 85%;
        overflow: auto;
    }
}

  

</style> 