<template>
    <div >
        <div class="row">
            <h2 class="title">To'lovlar</h2>
        </div>
        <div class="row">
            <div class="content">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card h-100">
                        <div class="card-body">
                          <h5 class="card-title">Tarix</h5>
                          <p class="card-text">Sentabr</p>
                          <p class="card-text">Sentabr</p>
                          <p class="card-text">Sentabr</p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    name: 'Payments'
}
</script>
<style scoped>
.title{
    margin-left: 2rem;
}
.content{
    margin-left: 2rem;
    width: calc(100% - 4rem);
    border: 1px solid red;
}
</style>