<template>
    <div>
        <div class="row mt-3">
            <div class="col-sm-6 col-md-5 mt-3">
                <div class="user_data">
                    <img src="img/user.jpg" alt="user" width="90px" height="90px">
                    <div class="update">
                        <h2>Asliddin</h2>
                        <p>Shahsiy ma'lumotlar</p>
                    </div>
                    <div class="id">
                        ID:123
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="course_title">
                <h2>Kurslar</h2>
            </div>
            <div class="course-content">
               <div class="table-responsive">
                   <table class="table">
                       <thead>
                           <tr>
                               <th>Nomi</th>
                               <th>Ustoz</th>
                               <th>Qoldirilgan darslar</th>
                               <th>O'zlashtirish%</th>
                               <th>Status</th>
                           </tr>
                       </thead>
                       <tbody>
                           <tr>
                               <td data-lable="Nomi">Tarix</td>
                               <td data-lable="Ustoz">Asliddin Sharipov</td>
                               <td data-lable="Qoldirilgan darslar">3</td>
                               <td data-lable="O'zlashtirish%">80 %</td>
                               <td data-lable="Status">
                                   <span class="active-btn">Delete</span>
                               </td>
                           </tr>
                           <tr>
                            <td data-lable="Nomi">Tarix</td>
                            <td data-lable="Ustoz">Asliddin Sharipov</td>
                            <td data-lable="Qoldirilgan darslar">3</td>
                            <td data-lable="O'zlashtirish%">80 %</td>
                            <td data-lable="Status">
                                <span class="active-btn">Delete</span>
                            </td>
                        </tr>
                       </tbody>
                   </table>
               </div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    name: 'PupilData'
}
</script>
<style scoped>
.user_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.user_data img{
    border-radius: 50%;
}
.user_data p{
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    padding: 3px;
    cursor: pointer;
}
.id{
    margin-bottom: -5.5rem;
}
.course_title{
    margin-left: 2rem;
}
.course-content{
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    margin: 2rem;
    width: calc(100% - 4rem);
}
.table{
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
}
.table td,
.table th{
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}
.table th{
    background: var(--bg-color);
    color: #fff;
}
.table tbody tr:nth-child(even){
    background: #f5f5f5;
}
.active-btn{
    border: 1px solid #FA0E0E;
    padding: .7rem;
    background: #FA0E0E;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
}
@media (max-width:700px) {
    .table thead{
        display: none;
    }
    .table, .table tbody, .table tr, .table td{
        width: 100%;
        display: block;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }
    .table td::before{
        content: attr(data-lable);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        text-align: left;
    }
}
</style>