<template>
    <div>
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2>Brand Name</h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href=""><i class="fa-solid fa-house"></i>
                        <span>Bosh sahifa</span>
                    </a>  
                </li>
                <li>
                    <a href=""><i class="fa-solid fa-user"></i>
                        <span>Foydalanuvchilar</span>
                    </a>  
                </li>
                <li>
                    <a href=""><i class="fa-solid fa-book"></i>
                        <span>Kurslar</span>
                    </a>  
                </li>
                <li>
                    <a href=""><i class="fa-solid fa-gear"></i>
                        <span>Sozlamalar
                        </span>
                    </a>  
                </li>
                <li>
                    <a href=""><i class="fa-solid fa-right-from-bracket"></i>
                        <span>Chiqish</span>
                    </a>  
                </li>
            </ul>
        </div>  
    </div>
    <div class="navbar-content">
        <header>
            <h2>
                <label for="">
                    <i class="fa-solid fa-bars"></i>
                </label>
                Asosiy sahifa
            </h2>
            <div class="search-wrapper">
                <i class="fa-solid fa-search"></i>
                <input type="search" placeholder="Qidiruv">
            </div>
            <div class="user-wrapper">
                <span>
                    Asliddin
                    <i class="fa-solid fa-angle-down"></i>
                </span>
                <img src="../../../public/img/xconvert.com.png" alt="" height="30px" width="30px">
            </div>
        </header>
        <datas/>
    </div> 
    
    </div>
</template>
<script>
import Datas from '@/components/dashbord/Datas'
export default {
    name: 'Navbar2',
    components:{
        Datas
    }
}
</script>
<style scoped>
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

}
.sidebar{
    width: 345px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--blu2);
}
.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: var(--white);
}
.sidebar-brand h2{
    display: inline-block;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
}
.sidebar-menu  a{
    display: block;
    color: var(--white);
    font-size: 1.1rem;
}
.sidebar-menu a i{
    font-size: 1.5rem;
    padding-right: 1rem;
}
.navbar-content{
    margin-left: 345px;
}
header{
    display: flex;
    justify-content: space-between;
   
    padding: 1rem;

}
.search-wrapper{
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    height: 40px;
    display: flex;
    text-align: center;
    overflow-x: hidden;
}
.search-wrapper i{
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
}

</style>