<template>
    <div >
            <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="canvas-bars ">
                <i class="fa-solid fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></i>
              </div>
             
              <div class="navbar-title">
                <h1 class="">Kholov akademy</h1>
              </div>
      
            
             <a href="" id="search">
              <i class="fa-solid fa-magnifying-glass"></i>
             </a>
      
              <div class="navbar-link">
                <ul>
                  <li>
                    <div class="search">
                      <input type="search" placeholder="Qidiruv">
                      <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                  </li>
                  <li>
                    <div>
                      Asliddin
                      <i class="fa-solid fa-angle-down" ></i>
                      <a href="#">
                        <img src="../../../public/img/xconvert.com.png" alt="logo" width="30px" height="30px">
                      </a>
                    </div>
                    
                  </li>
                </ul>
              </div>
            </nav>
             <!--canvas start-->
             <div class="canvas">
              
              <div class="offcanvas offcanvas-start sidebar-nav" tabindex="-1"  id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                  salom dunyo
                </div>
                <div class="offcanvas-body">
                 hjkblkm;lm
                </div>
              </div>
            </div>
            <div class="asos">

            </div><!--canvas end--> 
    
    </div>
</template>
<script>
export default{
    name: 'Navbar3'
}
</script>
<style scoped>
*{
  box-sizing: border-box;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: #fff;
}
.brand-title{
  font-size: 1.5rem;
  margin: .5rem;
}
.navbar-link ul{
  margin: 0;
  display: flex;
}
.navbar-link li{
  list-style: none;
}
.navbar-link li div{
  text-decoration: none;
  padding: 1rem 1rem 1rem 2rem;
  display: block;
}
.navbar-link li img{
  margin-left: 1rem;
  border-radius: 50%;
}

 .sidebar-nav{
   width: 270px;
}
#search { 
    color: var(--color-tem);
    font-size: 30px;
    line-height: 80px;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: -.80rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    display: none;
    
}
.canvas-bars{
  color: var(--color-tem);
    font-size: 30px;
    line-height: 80px;
    cursor: pointer;
    position: absolute;
    left: 1rem;
    top: -.80rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    display: none;
    
}


@media (max-width:992px) {
  .navbar-title{
    margin-left: 70px;  
  }
  .canvas-bars{
    display: block;
    margin-top: .5rem;
  }
  h1{
    font-size: 30px;
  }
}


@media (max-width:865px ) {
 
  .navbar #search{
    display: block;
  }

  .navbar-link {
    display: none;
    width: 100%;
  }
  .canvas-bars{
    display: block;
    margin-top: .20rem;
  }
}

@media (max-width:415px) {
  .navbar-title{
    margin-left: 50px; 
    margin-top: .5rem; 
  }

  h1{
    font-size: 22px;
  }
  .canvas-bars{
    font-size: 20px;
  }
  .navbar #search{
    font-size: 20px;
  }
}

/*@media (min-width:992px) {
  .body .canvas{
    overflow: auto !important;
  }
  .offcanvas-backdrop::before{
    display: none;
  }
  .sidebar-nav{
    transform: none;
    visibility: visible !important;
    top: var(--topCalvasHight);
    height: calc(100% - var(--topCalvasHight));
  }
  
  
}*/
 
</style>