<template>
    <div class="row mt-3">
        <div class="col-6 col-sm-4  mb-3">
            <div class="search-wrapper">
                <i class="fa-solid fa-magnifying-glass"></i>
               <input type="search" name="" placeholder="Test text">
            </div>
        </div>
        <div class="col-6 col-sm-4  mb-3">
            <div class="get">
                <router-link to="/variant">
                    <div class="text">
                        Test variyant
                    </div>
                </router-link>
            </div>
        </div>
        <div class="col-6 col-sm-4  mb-3">
            <div class="add">
                <div class="text">
                    Qo'shish
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    name: 'DtmNavbar'
}
</script>
<style scoped>
.search-wrapper{
    border: 1px solid #fff;
    border-radius: 10px;
    height: 40px;
    display: flex;
    text-align: center;
    width: 100%;
    background: #fff;

}
.search-wrapper i{
    display: inline-block;
    padding: 1rem;
    font-size: 1.5rem;
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    font-size:small;
    width: 100%;
    border-radius: 10px;
}
.get,
.add{
    border: 1px solid var(--bg-color);
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: var(--bg-color);
    text-align: center; 
    color: #fff;
}
.get .text,
.add .text{
    margin-top: .8rem;
}
.get{
    background: var(--green);
}
.get a{
    text-decoration: none;
    border: none;
    color: #fff;
}
</style>