<template>
    <div>
        <div class="row mt-3">
            <div class="col-6 col-md-4 col-lg-3 mb-3">
                <div class="variant">
                    Variant 1
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-3">
                <div class="variant">
                    Variant 2
                </div>
            </div>
            <div class="col-6 col-md-4 col-lg-3 mb-3">
                <div class="variant">
                    Variant 3
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="content">
                <div class="col-12 col-sm-6 mb-3">
                    <div class="test">
                        <p>1. Qaysi qatordagi so'zlarning jarangli undoshlarini jarangsiz jufti bilan almashtirilsa, ma'no butunlay o'zgaradi?</p>
                        <div class="row mt-3">
                            <div class="col-md-6 mb-3">
                                A. <span>shanba, yonbosh, ko'zgu</span>
                            </div>
                            <div class="col-md-6 mb-3">
                                A. <span>shanba, yonbosh, ko'zgu</span>
                            </div>
                            <div class="col-md-6 mb-3">
                                A. <span>shanba, yonbosh, ko'zgu</span>
                            </div>
                            <div class="col-md-6 mb-3">
                                A. <span>shanba, yonbosh, ko'zgu</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="download">
                Yukla
            </div>
        </div>
    </div>
</template>
<script>
export default{
    name: 'DtmVariant'
}
</script>
<style scoped>
.variant{
    border: 1px solid var(--bg-color);
    border-radius: 10px;
    width: 100%;
    background: var(--bg-color);
    color: #fff;
    text-align: center;
    padding: .5rem;
}
.content{
    width: calc(100% - 3rem);
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

span{
    font-size: 12px;
}
.download{
    width: 80px;
    border: 1px solid var(--green);
    border-radius: 10px;
    padding: .5rem;
    margin-left: 1.5rem;  
    margin-bottom: 1rem;
    background: var(--green);
    color: #fff;
    text-align: center;
}
</style>