<template>
    <div>
        <div class="row mt-3">
            <div class="test_title">
                <h2>Tarix</h2>
                <div class="add">Qoshish</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
               <router-link to="test/dtm">
                <div class="test_list">
                    <div>Tarix 6</div>
                    
                </div>
               </router-link>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
                <div class="test_list">
                    <div>Tarix 7</div>
                    
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
                <div class="test_list">
                    <div>Tarix 8</div>
                    
                </div>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 mb-3">
                <div class="test_list">
                    <div>Tarix 9</div>
                    
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default{
    name: 'TestList'
}
</script>
<style scoped>
.test_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    width: calc(100% - 2rem);
}
.test_title .add{
    border: 1px solid var(--bg-color);
    background: var(--bg-color);
    color: #fff;
    padding: .5rem;
    border-radius: 10px;
}
.test_list{
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 5px;

}
.test_list:hover{
    background: var(--bg-color);
    color: #fff;
}

</style>