<template>
    <div class="row mt-3">
    </div>
</template>
<script>
export default{
    name: 'TestNavbar',
    data(){
        return{
            a:{
                ali : 'ali',
                vali : 'ali'
            }
        }
    }
}
</script>
<style>


</style>