<template>
    <div class="row mt-3">
        <div class="test_content">
            <div class="col-12 col-sm-6 mb-3">
                <div class="test">
                    <p>1. Qaysi qatordagi so'zlarning jarangli undoshlarini jarangsiz jufti bilan almashtirilsa, ma'no butunlay o'zgaradi?</p>
                    <div class="row mt-3">
                        <div class="col-md-6 mb-3">
                            A. <span>shanba, yonbosh, ko'zgu</span>
                        </div>
                        <div class="col-md-6 mb-3">
                            A. <span>shanba, yonbosh, ko'zgu</span>
                        </div>
                        <div class="col-md-6 mb-3">
                            A. <span>shanba, yonbosh, ko'zgu</span>
                        </div>
                        <div class="col-md-6 mb-3">
                            A. <span>shanba, yonbosh, ko'zgu</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 mb-3">
                <div class="test">
                    <p>2. Qaysi qatordagi so'zlarning jarangli undoshlarini jarangsiz jufti bilan almashtirilsa, ma'no butunlay o'zgaradi?</p>
                    <div class="row mt-3">
                        <div class="col-md-6 mb-3">
                            A. <span>shanba, yonbosh, ko'zgu</span>
                        </div>
                        <div class="col-md-6 mb-3">
                            A. <span>shanba, yonbosh, ko'zgu</span>
                        </div>
                        <div class="col-md-6 mb-3">
                            A. <span>shanba, yonbosh, ko'zgu</span>
                        </div>
                        <div class="col-md-6 mb-3">
                            A. <span>shanba, yonbosh, ko'zgu</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page">
                <Pagination/>
            </div>
        </div>
    </div>
</template>
<script>
    import Pagination from '@/components/Pagination'
export default{
    name: 'TestDtm',
    components:{
        Pagination
    }
}
</script>
<style scoped>
.test_content{
    width: calc(100% - 3rem);
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

span{
    font-size: 12px;
}
.page{
    float: right;
    margin-right: 2rem;
    
}
</style>