<template>
    <div>
        <Courses-filter/>
        <Courses/>
        <Courses-list/>
        
    </div>

</template>
<script>
import Courses from '@/components/course/Courses'
import CoursesFilter from '@/components/course/CoursesFilter'
import CoursesList from '@/components/course/CoursesList'
export default{
    name: 'Course',
    components:{
        Courses,
        CoursesFilter,
        CoursesList
    }
}

</script>
<style scoped>

</style>