<template>
    <div>
        <course-data-pupil></course-data-pupil>
    </div>
</template>
<script>
import CourseDataPupil from '@/components/course/CourseDataPupil'
export default{
    name: 'CourseData',
    components:{
        CourseDataPupil
    }
}
</script>