<template>
    <div>
        <Dtm-navbar/>
        <Test-dtm/>
    </div>
</template>
<script>
import TestDtm from '@/components/testc/TestDtm'
import DtmNavbar from '@/components/testc/DtmNavbar'
export default{
    name: 'Dtm',
    components:{
        TestDtm,
        DtmNavbar
    }
}
</script>