<template>
    <div >
        <h2>Bosh sahifa</h2>
        <Datas/>
        <Charts/>
    </div>
   
</template>
<script>

import Datas from '@/components/dashbord/Datas'
import Charts from '@/components/dashbord/Charts'

export default {
    name: "Home",
    components:{
        Datas,
        Charts
    }
}
</script>
<style scoped>

</style>