<template>
    <div>
         <Post-add/> 
         <Git-posts/>
    </div>
</template>
<script>
import PostAdd from '@/components/posts/PostAdd'
import GitPosts from '@/components/posts/GitPosts'
export default{
    name: 'Post',
    components:{
      PostAdd,
      GitPosts
    }
}

</script>
<style scoped>

</style>