<template>
    <div>
        <Pupil-data/>
        <Payments/>
    </div>
</template>
<script>
import PupilData from '@/components/pupils/PupilData' 
import Payments from '@/components/pupils/Payments'
export default{
    name: 'Pupils',
    components:{
        PupilData,
        Payments
    }
}
</script>