<template>
    <div>
        <Teacher-data/>
    </div>
</template>
<script>
import TeacherData from '@/components/teacher/TeacherData'
export default{
    name: 'Teacher',
    components:{
        TeacherData
    }
}
</script>