<template>
    <div>
        <Dtm-variant/>
    </div>
</template>
<script>
import DtmVariant from '@/components/testc/DtmVariant'
export default{
    name: 'TestVariant',
    components:{
        DtmVariant
    }
}
</script>
<style scoped>

</style>