<template>
    <div>
        <Test-navbar/>
        <Test-list/>
    </div>
</template>
<script>
import TestNavbar from '@/components/testc/TestNavbar'
import TestList from '@/components/testc/TestList'
export default{
    name: 'Test',
    components:{
        TestNavbar,
        TestList
    }
}
</script>
<style>

</style>