<template>
    <div >
        <User-filter/>
        <User/>
    </div>

</template>
<script>
import User from '@/components/user/User'
import UserFilter from '@/components/user/UserFilter'
export default{
    name: 'Users',
    components:{
        User,
        UserFilter
    }
}

</script>
<style scoped>

</style>