<template>
  <div >
          <nav class="navbar  navbar-fixed-top">
            <div class="canvas-bars ">
              <i class="fa-solid fa-bars" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></i>
            </div>
           
            <div class="navbar-title">
              <h1 class="">Brand Name</h1>
            </div>
    
          
           <a href="" id="search">
            <i class="fa-solid fa-magnifying-glass"></i>
           </a>
          
            <div class="navbar-link">
              <ul>
                <li>
                  <div class="search-wrapper">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="search" placeholder="Qidiruv">
                    
                  </div>
                </li>
                <li>
                  <div class="user-wrapper">
                    <span class="dropdown">
                     Asliddin
                     <i class="fa-solid fa-angle-down" ></i>
                     <div class="dropdown-content">
                       
                     </div>
                    </span>
                    <a href="#">
                      <img src="../../public/img/xconvert.com.png" alt="logo" width="40px" height="40px">
                    </a>
                  </div>
                  
                </li>
              </ul>
            </div>
          </nav>
           <!--canvas start-->
           <div class="canvas">
            
            <div class="offcanvas offcanvas-start sidebar-nav" tabindex="-1"  id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
              <div class="offcanvas-header">
      
              </div>
              <div class="offcanvas-body">
                <Sidebar-user/>
              </div>
            </div>
          </div>
          <div class="asos">

          </div><!--canvas end--> 
  
  </div>
</template>
<script>
import SidebarUser from '@/components/sidebar/SidebarUser'

export default{
  name: 'Navbar',
  components:{
    SidebarUser
  }
}
</script>
<style scoped>
*{
box-sizing: border-box;
}
.navbar{
display: flex;
justify-content:space-between;
align-items:center;
background-color: #fff;

}
.navbar-title{
font-size: 1.5rem;
margin-top: -1rem;
margin-left: -35rem;

}
.navbar-link{
  margin-right: -35rem;
}
.navbar-link ul{
margin: 0;
display: flex;
align-items: center;

}
.navbar-link li{
list-style: none;
}
.navbar-link li div{
text-decoration: none;
display: block;
}
.navbar-link li img{
margin-left: 1rem;
border-radius: 50%;
}
.search-wrapper{
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    height: 30px;
    display: flex;
    text-align: center;
    margin-right: 2rem;  
}
.search-wrapper i{
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input{
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;
    font-size:small;
}
.user-wrapper .dropdown{
  position: relative;
  display: inline-block;
  font-size: 15px;
  margin-right: 1rem;
}
.user-wrapper .dropdown:hover .dropdown-content{
  display: block;
}
.user-wrapper .dropdown .dropdown-content{
  border: 1px solid #f0f0f0;
  width: 160px;
  height: 300px;
  background-color: aqua;
  position: absolute;
  display: none;
}
.sidebar-nav{
 width: 270px;
}
#search { 
  color: var(--color-tem);
  font-size: 30px;
  line-height: 80px;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: -.80rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  display: none;
  
}
.canvas-bars{
color: var(--color-tem);
  font-size: 30px;
  line-height: 80px;
  cursor: pointer;
  position: absolute;
  left: 1rem;
  top: -1.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  display: none;
  
}
@media (max-width:1115px) {
  .navbar-title{
    margin-left: -25rem;
  }
  .navbar-link{
    margin-right: -28rem;
  }
}
@media (max-width:1050px) {
  .navbar-title{
    margin-left: -20rem;
  }
  .navbar-link{
    margin-right: -23rem;
  }
}


@media (max-width:992px) {
.navbar-title{
  margin-left: 10px; 
  margin-top: -15px; 
}
.navbar-link{
    margin-right: -10rem;
    margin-top: .5rem;
  }
.canvas-bars{
  display: block;
  margin-top: .5rem;
}
h1{
  font-size: 30px;
}
}


@media (max-width:865px ) {

.navbar #search{
  display: block;
}

.navbar-link {
  display: none;
  width: 100%;
}
.canvas-bars{
  display: block;
  margin-top: .20rem;
}
}

@media (max-width:415px) {

h1{
  font-size: 22px;
}
.canvas-bars{
  font-size: 20px;
  margin-top: -.2rem;
}
.navbar #search{
  font-size: 20px;
  margin-top: -5px;
}
}

@media (min-width:992px) {
.body .canvas{
  overflow: auto !important;
}
.offcanvas-backdrop::before{
  display: none;
}
.sidebar-nav{
  transform: none;
  visibility: visible !important;
  top: var(--topCalvasHight);
  height: calc(100% - var(--topCalvasHight));
}

}

</style>