<template>
    <div>
        <div class="user">
            
            <img src="../../../public/img/user.jpg" alt="logo" width="50px" height="50px">
            <div>Asliddin Sharipov</div>
            <hr>
        </div>
        <div class="navbar">
            
            <ul>
                <router-link to="/"  class="home">
                    <li>
                    <i class="fa-solid fa-house"></i>
                    <span>Bosh sahifa</span>
                    </li>
                </router-link>
                <router-link to="/post" class="flag">
                    <li>
                    <i class="fa-solid fa-flag"></i>
                    <span>Post</span>
                    </li>
                </router-link>
                <router-link to="/user" class="user2">
                    <li>
                    <i class="fa-solid fa-user"></i>
                    <span>Foydalanuvchilar</span>
                    </li>
                </router-link>
                <router-link to="/course" class="course">
                    <li>
                    <i class="fa-solid fa-book"></i>
                    <span>Kurslar</span>
                    </li>
                </router-link>
                <router-link to="/test" class="test">
                    <li>
                    <i class="fa-solid fa-file-pen"></i>
                    <span>DTM testlar</span>
                    </li>
                </router-link>
                <router-link to="/setting" class="setting">
                    <li>
                    <i class="fa-solid fa-gear"></i>
                    <span>Sozlamalar</span>
                    </li>
                </router-link>
                <router-link to="/exit" class="exit">
                    <li>
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span>Chiqish</span>
                    </li>
                </router-link>
                
            </ul>
        </div>
    </div>
</template>
<script>

export default{
    name: 'SidebarUser'
}

</script>
<style scoped>
.user{
    width: 100%;
    height: 100px;
    margin-top: -1.5rem;
    margin-left: 1rem;
}
.user img{
    border-radius: 50%;
    margin-top: 5px;   
}
.user div{
    margin-top: 1rem;
}
.user hr{
    margin-left: -2rem;
}
.navbar{
    display: flex;
    margin-top: -3rem;

}
.navbar ul{
    list-style: none;
    margin-left: -5rem;
    
    
}
.navbar ul li{
    padding: 1.5rem;
    width: calc(100% + 9rem);
    margin-left: -3rem;
    
}
.navbar ul li span{
    color: var(--color);
    font-size: 16px;
    padding-top: 5px;
    
}
.navbar ul li i{
    font-size: 14px;
    margin-right: 1rem;
    border: 1px solid var(--white);
    width: 25px;
    height: 25px;
    padding-top: .3rem;
    padding-left: .3rem;
    color: var(--white);
    border-radius: 5px;
    
}
.navbar ul a{
    text-decoration: none;  
}
.navbar ul li:hover{
    background-color: #F1F3F6;     
}
.home i{
    background-color: #F57474;
    
}
.flag i{
    background-color: #74F578;
    padding-top: .5rem !important;
    padding-left: .5rem !important;
}
.user2 i{
    background: #74E8F5;
    padding-top: .5rem !important;
    padding-left: .5rem !important;
}

.course i {
    background: #F5F574;
    padding-top: .5rem !important;
    padding-left: .5rem !important;
}
.setting i{
    background: #C174F5;
    padding-top: .5rem !important;
    padding-left: .5rem !important;
}
.exit i{
    background: #94E3EC;
    padding-top: .5rem !important;
    padding-left: .5rem !important;
}
.test i{
    background: #F57474;
    padding-top: .5rem !important;
    padding-left: .5rem !important;
}
</style>