<template>
  <div class="container-fluid">
    <div class="row">
      <navbar/>
      <div class="col-lg-3">  
      </div>
      <div class=" col-lg-9 main">
        <router-view></router-view> 
      </div> 
    </div>
  </div>
 <!-- <img alt="Vue logo" src="./assets/logo.png">
  <HelloWorld msg="Welcome to Asliddin"/>-->
 
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'

import Navbar from '@/components/Navbar'

export default {
  name: 'App',
  components: {
    Navbar,

  }
}
</script>

<style>
#app {
  font-family: Poppins, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}
:root{
  --color: #242634;
  --color-tem: #2262E3;
  --bg-color: #90B0F0;
  --main: #2264E4;
  --topCalvasHight: 78px;
  --white: #fdfdfd;
  --blue:#38DEF7;
  --blu2:#287bff;
  --grey:#f5f5f5;
  --black:#999;
  --green:#49EC80;
}
.main{
  margin-top: 78px;
  width: calc(100% - 270px);
  height: 100%;
  background: #F1F3F6;
  left: 270px;
}
@media (max-width:992px) {
  .main{
    left: 0;
    width: 100%;
    margin-top: 72px;
  } 
}
@media (max-width:415px) {
  .main{
    margin-top: 68px;
  } 
}

</style>
