<template>
    <div>
        <div class="row mt-3">
            <div class="col-sm-6 col-md-5 mt-3">
                <div class="teacher_data">
                    <img src="img/user.jpg" alt="user" width="90px" height="90px">
                    <div class="update">
                        <h2>Asliddin</h2>
                        <p>Shahsiy ma'lumotlar</p>
                    </div>
                    <div class="id">
                        ID:123
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
</template>
<script>
export default{
    name: 'TeacherData'
}
</script>
<style scoped>
.teacher_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.teacher_data img{
    border-radius: 50%;
}
.teacher_data p{
    border: 1px solid #fff;
    border-radius: 10px;
    background: #fff;
    padding: 3px;
    cursor: pointer;
}
.id{
    margin-bottom: -5.5rem;
}
</style>